# Assignement 3, Data science in practice, MGT-415, 26.04.2020
## Aubry Yannick, Fontannaz Benoît, Muret Gabriel Pierre Etienne, Tedeschi Julien Brian, Terrier Cédric

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
data = pd.read_excel('network_data.xlsx')
print(data.shape)
print(data.dtypes)
data.head()

(88234, 2)
NodeA    int64
NodeB    int64
dtype: object

   NodeA  NodeB
0      0      1
1      0      2
2      0      3
3      0      4
4      0      5

In [8]:
print(data['NodeA'])

0           0
1           0
2           0
3           0
4           0
         ...
88229    4026
88230    4027
88231    4027
88232    4027
88233    4031
Name: NodeA, Length: 88234, dtype: int64

In [ ]:
import networkx as nx
G_symmetric = nx.Graph()
length_data = len(data)
for i in range(length_data):
    G_symmetric.add_edge(data.NodeA[i],data.NodeB[i])
    
nx.draw_networkx(G_symmetric)